module.exports = {
    stringify: function (arr) {
        if (arr) {
            return JSON.stringify(arr);
        }
        return "";
    },
    abs: function (arr) {
        if (arr) {
            return Math.abs(arr);
        }
        return arr;
    },
    toFixed: function (arr, rat) {
        if (arr && typeof arr === 'number') {
            return arr.toFixed(rat);
        }
        return arr;
    },
    arrExists: function (arr, elem) {
        if (arr && arr.length > 0) {
            let res = false;
            arr.find(function (v, i) {
                if (v === elem) {
                    res = true;
                    return;
                }
            });
            return res;
        }
    },
}